{% load static %}
<link rel="stylesheet" href="{% static 'plc_tools/widgets.css' %}">
<link rel="stylesheet" href="{% static 'plc_tools/styles.css' %}">
<link href="https://cdn.jsdelivr.net/npm/gridstack@12.3.3/dist/gridstack.min.css" rel="stylesheet">

<body style="background-color:#e3eeff;">
    <div id="dashboard-container" class="container" data-alias="{{ dashboard.alias }}">  
        <div class="connection-banner hidden">⚠️ No connection</div>
        <div>
            <button type="button" id="edit-button" class="edit-button">Edit</button>
        </div>
        <div class="canvas-wrapper">
            <div id="dashboard-grid" class="grid-stack">
            </div>
        </div>
        <aside id="editor-sidebar" class="sidebar hidden">
            <div class="tab-buttons">
                <button id="add-button" class="active" data-tab="palette">Add Widget</button>
                <button id="inspect-button" data-tab="tab-inspect">Properties</button>
            </div>
            <div id="palette" class="tab-content active">
                {% for type in widget_types %}
                    <div class="palette-item grid-stack-item" data-type="{{ type }}">
                        <div class="grid-stack-item-content">
                            {% include "plc_tools/widgets/"|add:type|add:".html" %}
                            <div>
                                <span class="alarm-indicator"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="tab-inspect" class="tab-content">
                <div id="inspector-form"></div> 
            </div>
        </aside>
    </div>
</body>
{% for widget in widgets %}
    <widget-config data-type="{{ widget.widget_type }}" data-tagid="{{ widget.tag.external_id }}" data-title="{{ widget.tag.description }}">
        {{ widget.config|json_script:"ignored" }}
    </widget-config>
{% endfor %}

<script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>
<script type="module" src="{% static 'plc_tools/dashboard.js' %}"></script>