{% load static %}
<link rel="stylesheet" href="{% static 'plc_tools/widgets.css' %}">
<link rel="stylesheet" href="{% static 'plc_tools/styles.css' %}">

<div id="dashboard" class="container">
    <div class="connection-banner hidden">⚠️ No connection</div>
    {% for widget in widgets %}
        <div class="widget"
             data-widgetid="{{ widget.external_id }}"
             data-class="{{ widget.widget_type }}"
             data-tag="{{ widget.tag.external_id }}"
             title="{{ widget.tag.description }}">
            {% include "plc_tools/widgets/"|add:widget.widget_type|add:".html" %}
            <div>
                <span class="alarm-indicator"></span>
            </div>
        </div>

        {% with uuid=widget.external_id|stringformat:"s" %}
            {% with cfg_id="config-"|add:uuid %}
                {{ widget.config|json_script:cfg_id }}
            {% endwith %}
        {% endwith %}
    {% endfor %}
</div>

<script type="module" src="{% static 'plc_tools/dashboard.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-3.3.0.min.js" charset="utf-8"></script>