{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body class="form-body">
    <header class="app-header">
        <div class="brand">
            <h1>ModbusTiles<span class="dashboard-title"></span></h1>
        </div>
    </header>
    <main>
        <form method="POST" class="user-form">
            {% csrf_token %}
            <p class="form-title">Log in or Sign Up</p>
            <input type="text" class="form-input" name="username" placeholder="Username"><br>
            <input type="password" class="form-input" name="password" placeholder="Password"><br>

            <button type="submit" class="form-button">Login</button>

            {% if form.errors %}
                <p style="color: red;">Invalid username or password</p>
            {% endif %}
        </form>
    </main>
</body>