{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard_list.css' %}">
</head>
<body>
    <header class="app-header">
        <div class="brand">
            <h1>ModbusTiles
                <span class="separator">/</span>
                <span class="dashboard-title">{{ user.username }}'s dashboards</span>
            </h1>
        </div>
        <div class="header-controls">
            <a class="dashboard-title" href="{% url 'alarms' %}">View Alarms
                <span id="alarm-badge">0</span>
            </a>
            <form method="post" action="{% url 'logout' %}" style="margin: 0 auto;">
                {% csrf_token %}
                <button type="submit" class="form-button">Log Out</button>
            </form>
        </div>
    </header>
    <main class="app-layout">
        <div class="dashboard-list">
            {% for db in dashboards %}
            <a href="{% url 'dashboard' db.alias %}" class="dashboard-card">
                <div class="preview-box">
                    {% if db.preview_image %}
                        <img src="{{ db.preview_image.url }}" alt="Preview">
                    {% else %}
                        <div class="placeholder">No Preview</div>
                    {% endif %}
                </div>
                <h3 class="title">{{ db.title }}</h3>
                <p>{{ db.description }}</p>
            </a>
            {% endfor %}
            <button id="create-dashboard" class="btn">+ New Dashboard</button>
        </div>
    </main>
</body>
<script type="module" src="{% static 'dashboard_list.js' %}"></script>